<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>知否笔记后台管理系统</title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/static/assets/images/favicon.png}" />
  <link rel="stylesheet" th:href="@{/static/assets/plugins/chartist/css/chartist.min.css}" />
  <!-- Custom Stylesheet -->
  <link th:href="@{/static/css/style.css}" rel="stylesheet" />
  <script th:src="@{/static/js/modernizr-3.6.0.min.js}"></script>
  <script th:src="@{https://cdn.staticfile.org/jquery/2.0.0/jquery.min.js}"></script>
 </head>
 <body class="v-light vertical-nav fix-header fix-sidebar">
  <div th:replace="common::preloader"></div>
  <div th:replace="common::header"></div>
  <!-- / header -->
  <!-- sidebar -->
  <div th:replace="common::sidebar"></div>
  <!-- #/ sidebar -->
  <!-- content body -->
  <div class="content-body">
   <!-- #/ container -->
   <div class="container">
    <div th:replace="common::breadcrumb('系统总览')"></div>

    <div class="row">
     <div class="col-lg-3" style="text-align: center;">
      <div class="card">
       <div class="card-body">
        <h4><i class="mdi mdi-eye-outline f-s-60 pull-left text-primary"></i>今日独立访问量</h4>
        <h3 class="m-t-20" th:utext="${#request.getAttribute('uv')}"></h3>
       </div>
      </div>
     </div>
     <div class="col-lg-3" style="text-align: center;">
      <div class="card">
       <div class="card-body">
        <h4><i class="mdi mdi-file-plus f-s-60 pull-left text-success"></i>今日笔记发布量</h4>
        <h3 class="m-t-20">666</h3>
       </div>
      </div>
     </div>
     <div class="col-lg-3" style="text-align: center;">
      <div class="card">
       <div class="card-body">
        <h4><i class="mdi mdi-book-open-variant f-s-60 pull-left text-secondary"></i>笔记发布总数量</h4>
        <h3 class="m-t-20">666</h3>
       </div>
      </div>
     </div>
     <div class="col-lg-3" style="text-align: center;">
      <div class="card">
       <div class="card-body">
        <h4><i class="mdi mdi-account f-s-60 pull-left text-danger"></i>网站用户总数量</h4>
        <h3 class="m-t-20">666</h3>
       </div>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-lg-12">
      <div class="card">
       <div class="card-body">
        <h4 class="card-title">七日活跃用户量</h4>
        <div id="line-smoothing" class="ct-chart ct-golden-section">
         <div class="chartist-tooltip" style="top: 274px; left: 54px;"></div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-lg-12">
      <div class="card">
       <div class="card-body">
        <h4 class="card-title">笔记分布</h4>
        <div id="pie-chart" class="ct-chart ct-golden-section"></div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <!-- footer -->
   <div th:replace="common::footer"></div>
   <!-- #/ footer -->
   <!-- Common JS -->
   <script th:src="@{/static/assets/plugins/common/common.min.js}" src="../../assets/plugins/common/common.min.js"></script>
   <!-- Custom script -->
   <script th:src="@{/static/js/custom.min.js}" src="../js/custom.min.js"></script>
   <script th:src="@{/static/assets/plugins/chartist/js/chartist.min.js}" src="../../assets/plugins/chartist/js/chartist.min.js"></script>
   <script th:src="@{/static/assets/plugins/chartist/js/chartist-plugin-tooltip.min.js}" src="../../assets/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script>
   <script type="text/javascript">
			$(document).ready(function () {
                //Line Interpolation / Smoothing

             var chart = new Chartist.Line('#line-smoothing', {
              labels: [1, 2, 3, 4, 5, 6, 7],
              series: [
                      [1, 5, 10, 0, 1, 4, 8]
              ]
             }, {
              // Remove this configuration to see that chart rendered with cardinal spline interpolation
              // Sometimes, on large jumps in data values, it's better to use simple smoothing.
              lineSmooth: Chartist.Interpolation.simple({
               divisor: 2
              }),
              fullWidth: true,
              chartPadding: {
               right: 20
              },
              low: 0,
              plugins: [
               Chartist.plugins.tooltip()
              ]
             });
             //Pie chart with custom labels

					var data = {
					  labels: ['Java', 'C++', 'Android'],
					  series: [35, 15, 50]
					};

					var options = {
					  labelInterpolationFnc: function(value) {
					    return value[0]
					  }
					};

					var responsiveOptions = [
					  ['screen and (min-width: 640px)', {
					    chartPadding: 30,
					    labelOffset: 100,
					    labelDirection: 'explode',
					    labelInterpolationFnc: function(value) {
					      return value;
					    }
					  }],
					  ['screen and (min-width: 1024px)', {
					    labelOffset: 80,
					    chartPadding: 20
					  }]
					];

					new Chartist.Pie('#pie-chart', data, options, responsiveOptions);
            });
        </script>
  </div>
 </body>
</html>